:root{
  --primary: white;
  --secondary:#f4f4f4;
  --textPrimary: rgb(39,37,37);
  --textSecondary: rgb(122,121,121)
}

html{
  box-sizing: border-box;
}
body{
  background: var(--primary);
  font-family: "Inter";
  margin: 0;
}
main{
  margin: 50px auto;
  width: 80%;
}
header{
  display: flex;
  justify-content: space-between;
  height: 100px;
  color: var(--textPrimary);
}
header h1{
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
}

header h3{
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
  color: var(--textSecondary);
}
.option{
  display: flex;
  align-items: center;
  height: 75px;
}
.option p{
  font-weight: 700;
  color: var(--textSecondary);
  margin: 0 10px;

}
.cardSection{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 25px;
}
.card{
  background: var(--secondary);
  text-align: center;
  padding: 25px;
}
.card:hover{
  cursor: pointer;
}
.cardHead{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardHead img{
  display: inline-block;
  height: 20px;
  width: 20px;
}
.cardHead h4{
  display: inline-block;
  margin: 0;
  color: var(--textSecondary);
}
.cardBody h1{
  font-size: 3rem;
  margin: 15px 0 0 0;
  color: var(--textPrimary);
}
.cardBody h4{
  font-size: 0.8rem;
  font-weight: 100;
  color: var(--textSecondary);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.increment{
  color: rgb(30, 181, 137);
}
.decrement{
  color: rgb(220, 65, 76);

}
.card h5{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0 0 0;
}
.card h5 img{
  margin-right: 5px;
}
.fb {
  border-top:5px solid rgb(23, 143, 245);
  border-radius: 5px;
}
.tw {
  border-top: 5px solid rgb(29, 161, 242);
  border-radius: 5px;
}
.ig {
  border-top: 5px solid;
  border-image-source: linear-gradient(90deg, #fdc468 0%, #df4996 100%);
  border-image-slice: 1;
}
.yt{
  border-top: 5px solid rgb(196, 3, 43);
  border-radius: 5px;
}
.overviewTitle{
  margin-top: 50px;
  color: var(--textSecondary);
}
.overviewSection{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 25px;
}

.overviewCard{
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background: var(--secondary);
}
.overviewCard:hover{
  cursor: pointer;
}
.cardLeft p{
  margin: 0;
  color: var(--textSecondary);
}
.cardLeft h1{
  margin-bottom: 0;
  color: var(--textPrimary);
}
.cardRight{
  display: grid;

}
.cardRight h5{
  margin: 35px 0 0 0;
}
.attribution{
  background: var(--secondary);
  padding: 25px;
  text-align: center;
  color: var(--textPrimary);
  }
  a{
    color: hsl(146, 68%, 55%);
    text-decoration: none;
  }

  .switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input{
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
  }
  .slider::before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: white;
    transition: 0.4s;
  }
  input:checked + .slider::before{
    transform: translateX(26px);
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
  }
  input:checked + .slider{
    background-image: -webkit-linear-gradient(left, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    background-color: #2196F3;
  }
  .slider.round {
    border-radius: 34px;
  }

.slider.round::before {
    border-radius: 50%;
  }

@media (max-width: 950px){
  header{
    display: block;
    height: 100%;
  }
  .title{
    border-bottom: 2px solid var(--secondary);
    padding-bottom: 20px;
  }
  .title h1{
    font-size: 1.5rem;
  }
  .title h3{
    font-size: 0.9rem;
  }
  .option{
    justify-content: space-between;
  }
  .cardSection{
    grid-template-columns: repeat(1,1fr);
    grid-gap: 25px;
  }
  .overviewSection{
    grid-template-columns: repeat(1,1fr);
    grid-gap: 25px;
  }
  .attribution{
    font-size: 0.8rem;
  }
}
